* {
	vertical-align: middle;
	font-family: system-ui;
}
body {
	background: rgb(0, 0, 0);
	color: rgb(190, 190, 190);
}

h1, h2, h3, h4, h5, h6 {
	color: rgb(255, 255, 255);
	margin-top: 0;
	margin-bottom: 0;
}
.settingsBlockContainer {
	padding: 10px;
}
.settingsBlockContent {
	padding: 10px;
}
.settingsBlockHeader {
	font-size:larger;
	color: rgb(190, 190, 190);
	background: rgb(33, 33, 33);
	height: 24px;
	line-height: 24px;
	border-radius: 3px;
	border: solid 1px #454545;
}
.settingsBlockHeader > h4 {
	color: rgb(199, 199, 199);
	padding-left: 6px;
}
.settingsBlockContent > h3 {
	font-size: 32px;
}
.description {
	color: rgb(190, 190, 190);
	margin-top: 0;
	margin-bottom: 0;
}
.settingsBlockContent:hover{
	background: #e98c00;
}
.header {
	height: 48px;
	border: 2px solid #878787;
	background: linear-gradient(0deg, #000000, #2b2b2b, #626262);
	border-radius: 5px;
}
.logo {
	width: 68px;
	background-image: url("../img/btn_logo_normal.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.logo:hover {
	background: url("../img/btn_logo_selected.png");
	background-size: contain;
	background-repeat: no-repeat;
}
input[type=search] {
	color: white;
	border: none;
	background: none;
	height: 32px;
	width: 100%;
}
input[type=search]:focus-visible {
	outline: none;
	border: solid 2px #0095ff;
	border-top: none;

}
.divider {
	height: 100%;
	background: url("../img/widget_divider.9.png") repeat-y;
	width: 3px;
}
.searchBtn {
	border: 0px;
	height: 32px;
	width: 32px;
	background: url("../img/ic_menu_search_normal.png") no-repeat;
	background-size: contain;
}
.searchBtn:hover {
	background: url("../img/ic_menu_search_focus.png") no-repeat;
	background-size: contain;
}
.videobit > * {
	color: rgb(190, 190, 190);
	text-decoration: none;
}
.videobit:hover {
	background: #e98c00;
}
.videobitPic {
	position: relative;
	border-width: 1px;
	border-image: url("../img/video_frame.9.png") 0 0 0 0 fill stretch stretch;
}
.videobitPic > img {
	background: url("../img/ic_no_thumb.png") no-repeat;
	padding: 1px;
	border: none;
	background-size: 50% 50%;
	background-position-x: 50%;
	background-position-y: 50%;
}
.videobitPic > div {
	position:absolute;
	bottom: 3px;
	right: 3px;
	background: black;
	padding: 1px;
	padding-right: 6px;
	padding-left: 6px;
}
.videobitDesc {
	vertical-align: text-top;
}
.videobitDesc > * {
	vertical-align: text-top;
	margin: 0px;
}
.tab {
	display: flex;
	overflow-x: scroll;
	scrollbar-width: none;
}
.tab button {
	font-size: larger;
	height: 48px;
	appearance: none;
	background: rgb(0, 0, 0);
	color: unset;
	width:100%;
	min-width: 100px;
	padding: 0px;
	margin: 0px;
	border: none;
	border-bottom: solid 1px;
}
.tab button:hover {
	color: white;
}
.tab button.active {
	color: white;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background: linear-gradient(0deg, #000000, #474747, #626262);
	border: solid 1px rgb(190 190 190);
	border-bottom: none;
}
.tabcontent {
	display: none;
}
.channelPic > img {
	margin: 3px;
	border: 2px solid white;
}
.profileInfo {
	vertical-align: text-top;
	width: 100%;

}
.profileInfo > * {
	margin: 0px;
}
.playlistbits{
	vertical-align: middle;
}
.playlistbit {
	list-style: none;
	color: white;
	font-size: larger;
}
.playlistbit > a {
	display: block;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: larger;
	color: white;
	height: 3vh;
	text-decoration: none;
}
.label {
	text-align: center;
	color: white;
	font-size: 1.2em;
}
.label:hover {
	text-shadow: 0px 0px 10px #ff0000;
}
